{{#each userlist}}
    {{!-- TODO if this is the current user don't allow them to add as a friend --}}
    <strong>Name: </strong> {{this.local.username}} <button class="btn btn-sm btn-primary addFriend" data-id="{{this._id}}">Add as friend</button>
    <br />
    <br />
{{/each}}

<script src="./js/addFriend.js"></script>