<h1>Create Group</h1>
<strong>Group Name: </strong><input type="text" class="groupName" />
<strong>Description: </strong><input type="text" class="description" />
<br /><br />
<p>Note, add the current user to the userlist and make them an admin</p>