<input type="text" class="searchedBook" placeholder="Book to Search">
<button class="submit">Submit</button>
<br><br>
<a href="/signin">Signin</a>
<a href="/signup">Signup</a>
<a href="/signout">Signout</a>
<a href="/userlist">User List</a>
<a href="/profile">Profile</a>

<script src="/js/bookSearch.js"></script>