<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h1> Sign-Up </h1>
            {{#if message}}
                <div class="alert">{{message}}</div>
            {{/if}}

            <div class="errorMessages"></div>

            <form id="signin" name="signin" method="post" action="/signin">
                <label for="username">User Name</label>
                <input name="username" class="username" type="text" placeholder="User Name" />
                <br>
                <br>
                <label for="password">Password</label>
                <input name="password" class="password" type="password" placeholder="Password" />
                <br>
                <input class="btn btn-primary btn-lg" id="submit" type="submit" value="Sign Up" />
            </form>
            <hr>
            <p>Need an account? <a href="/signup">Signup</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
</div>

{{!-- Facebook stuff --}}
{{!-- <div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=541685106328651&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> --}}

{{!-- Place this where I want the button to show up --}}
{{!-- <div class="fb-login-button" data-size="medium" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div> --}}

{{!-- Check login status --}}
{{!-- function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
} --}}

{{!-- Facebook SDK --}}
{{!-- <script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{your-app-id}',
            cookie: true,
            xfbml: true,
            version: '{api-version}'
        });

        FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script> --}}